<template>
  <v-app>
    <Navigation />

    <v-main>
      <router-view v-slot="{ Component }">
        <transition name="fade">
          <component :is="Component" />
        </transition>
      </router-view>
    </v-main>

    <Footer />
  </v-app>

  <div
    :class="{ mobile }"
    class="deck-alerts"
  >
    <v-alert
      v-for="(alert, i) in store.state.alerts"
      :key="i"
      variant="tonal"
      :border="'start'"
      :text="alert.message"
      :type="alert.type"
      :prominent="!mobile"
      class="mb-2 mx-1"
    />
  </div>

  <!-- <div ref="fb-root" />
  <div
    id="fb-customer-chat"
    class="fb-customerchat"
    page_id="392735284842629"
  /> -->
</template>
<script setup>
import Navigation from "./components/Navigation.vue";
import Footer from "./components/Footer.vue";
import { onMounted } from "vue";
import { useDisplay } from "vuetify";
import { useStore } from "vuex";

const store = useStore();
function loadFacebookInfo(d, s, id) {
  if (d.getElementById(id)) return;

  const fjs = d.querySelector(s);
  const js = d.createElement(s);
  js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
  fjs.parentNode.insertBefore(js, fjs);
}

async function facebookInit() {
  const chatbox = document.querySelector("#fb-customer-chat");
  chatbox.setAttribute("attribution", "biz_inbox");
  try {
    window.fbAsyncInit = function() {
      FB.init({
        xfbml: true,
        version: "v11.0",
      });
    };
    
    loadFacebookInfo(document, "script", "facebook-jssdk");
  } catch (e) {
    console.log("Some errors ocurred", e);
  }
}

const { mobile } = useDisplay();
onMounted(async () => {
  // await facebookInit();
  window.scrollTo(0, 0);
});
</script>
<style lang="scss">
.deck-alerts {
  position: fixed;
  right: 0;
  padding: 1em;
  width: 400px;
  height: auto;
  top: 10%;

  &.mobile {
    width: 100%;
    top: 80%;
  }
}

.grecaptcha-badge { visibility: hidden !important; }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>