@use 'vuetify/styles' as * with (
  $body-font-family: "Nunito",
  $heading-font-family: "Lato"
);

.h-100 { height: 100%; }
.w-100 { width: 100%; }
.v-alert { backdrop-filter: blur(10px); }
body { scroll-behavior: smooth; }