<template>
  <v-container class="my-8">
    <v-row
      justify="center"
      class="my-4"
    >
      <v-col cols="12">
        <h4 class="text-h4 text-center">
          Our Clients
        </h4>
      </v-col>
      <v-col
        v-for="client in 11"
        :key="client"
        cols="2"
        lg="1"
      >
        <v-img
          :src="`/images/clients/${client}.png`"
          width="100%"
          aspect-ratio="1"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
//
</script>