<template>
  <v-card
    flat
    rounded="none"
    class="cover"
    :class="{ mobile }"
  >
    <video
      autoplay
      muted
      loop
      @contextmenu.prevent.stop=""
    >
      <source src="/videos/MokikiGames.webm" type="video/webm" />
      Your browser does not have support for HTML5 Video.
    </video>
  </v-card>
</template>

<script setup>
import { useDisplay } from "vuetify";

const { mobile } = useDisplay();
</script>

<style scoped lang="scss">
.cover {
  background-color: #000;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  video {
    max-height: 100vh;
    width: 100%;
    margin: 0;
  }

  &.mobile {
    video {
      height: calc(50vh);
    }
  }
}
</style>
