<template>
  <Cover />

  <v-container class="my-8">
    <!-- Welcome visitor! -->
    <v-row class="justify-center my-10">
      <v-col
        cols="12"
        lg="6"
      >
        <v-img
          src="/images/mokis/003.png"
          alt="Welcome Moki"
          aspect-ratio="1.5"
          max-height="400"
        />
      </v-col>
      <v-col
        cols="12"
        lg="6"
        class="h-100 my-auto"
      >
        <h1 class="text-h2 text-center mb-4">
          Welcome to Mokiki Games!
        </h1>

        <p class="text-h4 text-center font-weight-light">
          We're a Mexican video game development studio based in Puebla City. Thank you for visiting our site, we're excited to connect with you.
        </p>

        <p class="text-center">
          <v-dialog v-model:model-value="modalOpen">
            <template #activator="{ props }">
              <v-btn
                v-bind="props"
                variant="elevated"
                color="secondary"
                size="large"
                prepend-icon="mdi-play-circle"
                class="my-4"
              >
                Demo Reel
              </v-btn>
            </template>

            <v-card
              class="mx-auto"
              max-width="1280"
            >
              <v-card-text>
                <video
                  controls
                  preload="auto"
                  class="w-100 rounded-xl"
                >
                  <source src="/videos/DemoReel.mp4" type="video/mp4" />
                  <source src="/videos/DemoReel.webm" type="video/webm" />
                </video>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  color="accent"
                  prepend-icon="mdi-close-circle"
                  class="ml-auto"
                  @click="modalOpen = false"
                >
                  Close
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </p>
      </v-col>
    </v-row>
  </v-container>

  <v-container class="my-8">
    <!-- About Mokiki -->
    <v-row class="justify-center my-10">
      <v-col
        cols="12"
        lg="5"
        class="h-100 my-auto"
      >
        <h2 class="text-h4 text-center mb-4">
          About Mokiki Games
        </h2>

        <p class="text-h5 text-center font-weight-light mb-6">
          Embark on an dynamic journey with Mokiki Games. Let's join forces to make your ideas come alive in spectacular ways.
        </p>

        <p class="text-h6 text-center font-weight-light">
          Budgets and questions are one click away. 👇
        </p>

        <!-- @TODO: Create a modal for emails. -->
        <v-row class="my-6">
          <MailerModal
            reason="Budget"
            variant="tonal"
            color="primary"
            class="mx-auto"
            prepend-icon="mdi-chart-areaspline"
          >
            <template #button-text>
              Request a budget
            </template>
          </MailerModal>
        </v-row>
      </v-col>

      <v-col
        cols="12"
        lg="6"
      >
        <v-img
          src="/images/intro.png"
          alt="Welcome Moki"
          aspect-ratio="1"
          max-width="400"
          class="rounded-xl mx-auto"
        />
      </v-col>
    </v-row>
  </v-container>

  <Team />
  <!-- <Clients /> -->
</template>
<script setup>
import Cover from "./Cover.vue";
// import Clients from "./Clients.vue";
import Team from "./Team.vue";
import MailerModal from "@/components/MailerModal.vue";
import { ref } from "vue";

const modalOpen = ref(false);
</script>
