<template>
  <v-container
    fluid
    class="my-8"
  >
    <v-row
      justify="center"
      class="my-4"
    >
      <v-col cols="12">
        <h4 class="text-h4 text-center">
          Our leading team
        </h4>
        <p class="text-center">
          we have an incredible team!
        </p>
      </v-col>

      <v-col
        cols="12"
        class="d-flex flex-row justify-center"
      >
        <!-- @TODO: FINISH this -->
        <p class="text-center">
          <MailerModal
            reason="Internship"
            variant="tonal"
            color="primary"
            class="ma-2"
            prepend-icon="mdi-school"
          >
            <template #button-text>
              Internship
            </template>
          </MailerModal>

          <v-btn
            variant="tonal"
            prepend-icon="mdi-party-popper"
            class="ma-2"
          >
            Announcements
          </v-btn>
        </p>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <v-row justify="center">
      <v-col
        v-for="member in team"
        :key="member"
        cols="12"
        sm="6"
        lg="4"
      >
        <v-card
          variant="tonal"
          color="primary"
          max-width="80%"
          class="mx-auto"
        >
          <v-img
            :src="`/images/team/${member}.transparent.png`"
            width="100%"
            aspect-ratio="1"
            cover
          />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import MailerModal from "@/components/MailerModal.vue";
import { ref } from "vue";

const team = ref([
  "Adri",
  "Vincent",
  "Moy",
  "Angel",
  "Luis",
  "Alfredo",
  "Dino",
  "Ana",
]);
</script>