<template>
  <v-card
    class="cover-img"
    image="/images/cover2.png"
    height="50vh"
    cover
    flat
    rounded="0"
  >
    <v-card-text class="cover-text">
      <h2 class="text-md-h2 text-sm-h3 text-h5">
        Who we are?
      </h2>
    </v-card-text>
  </v-card>

  <v-container class="my-8">
    <v-row justify="center">
      <v-col
        cols="12"
        lg="4"
      >
        <v-img
          src="/images/intro.png"
          aspect-ratio="1"
          class="rounded-xl mx-auto"
        />
      </v-col>

      <v-col
        cols="12"
        lg="6"
        class="my-auto h-100"
      >
        <h3 class="text-h4 text-justify font-weight-light my-3">
          We are a highly skilled team capable of transforming the most complex ideas into video games.
        </h3>

        <p class="text-center text-md-left">
          <MailerModal
            reason="Appointment"
            variant="tonal"
            color="primary"
            class="ma-2"
            size="large"
            prepend-icon="mdi-calendar"
          >
            <template #button-text>
              Book a Meeting
            </template>
          </MailerModal>

          <MailerModal
            reason="Budget"
            variant="tonal"
            color="secondary"
            class="ma-2"
            size="large"
            prepend-icon="mdi-chart-areaspline"
          >
            <template #button-text>
              Request a budget
            </template>
          </MailerModal>
        </p>
      </v-col>
    </v-row>
  </v-container>

  <v-container class="my-8">
    <v-row justify="center">
      <v-col
        cols="12"
        lg="6"
        class="my-auto h-100"
      >
        <h3 class="text-h4 text-justify font-weight-light mt-3 mb-6">
          We work with the latest version tools and methodologies for every project, we will make your idea a reallity.
        </h3>

        <v-chip
          v-for="skill in skills"
          :key="skill"
          rounded="pill"
          color="accent"
          class="ma-2"
        >
          {{ skill }}
        </v-chip>
      </v-col>

      <v-col
        cols="12"
        lg="4"
        class="h-100"
      >
        <v-img
          src="/images/moki_art.wacom.jpg"
          aspect-ratio="1"
          class="rounded-xl mx-auto"
        />
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import MailerModal from "@/components/MailerModal.vue";
import { computed, ref } from "vue";

const skills = ref([
  "Harmony Toon boom", "Adobe Illustrator",
  "Adobe Photoshop", "Adobe After Effects", "Blender", "Unreal Engine",
  "Unity Engine", "Godot Engine", "Autodedk Maya", "Substance Painter",
  "Houdini", "Adobe After Effects", "C++",
  "C#", "GD Script", "Figma", "Pixel Art",
]);

const requestInfoURL = computed(() => {
  const email = "ceo@mokikigames.com";
  const subject = "Hello! I am ...";
  const body = "I would like to know more about Mokiki Games, for example...";

  const query = new URLSearchParams({ subject, body });
  return `emailto:${email}?${query.toString()}`;
});

</script>
<style lang="scss" scoped>
.cover-img {
  background-position: top;
}

.cover-text {
  height: 100%;
  width: 100%;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

:deep(.v-card__image .v-responsive.v-img .v-responsive__sizer) {
  background-color: rgba(var(--v-theme-background), var(--v-medium-emphasis-opacity));
  backdrop-filter: blur(5px);
}
</style>