<template>
  <v-container class="my-8">
    <v-row>
      <h1 class="text-h1 text-md-justify text-center my-3">
        Careers and Internships
      </h1>
    </v-row>

    <v-row class="justify-center my-10">
      <v-col
        cols="12"
        lg="6"
      >
      <!-- <img src="images/cover.png" alt="cover" class="rounded-xl"/> -->

      <p class="text-h2 mb-4">
        Find your team
      </p>
      <p>
        Together, we can easily create incredible projects and build fantastic art for everyone. Want to join Mokiki? Find your ideal team 🧐
      </p>
      <v-text-field
        v-model="search"
        label="Type a role, position or a school name"
        placeholder="Type a role, position or a school name"
        prepend-inner-icon="mdi-magnify"
        variant="outlined"
        class="my-3"
        clear-icon="mdi-close-circle"
        clearable
      />
    </v-col>

    <v-col
    cols="12"
    lg="6"
    class="d-flex justify-center align-center"
      >
        <v-img
          src="/images/mokis/002.png"
          alt="Welcome Moki"
          aspect-ratio="1"
          max-width="400"
          class="rounded-xl"
        />
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col
        cols="10"
        sm="6"
        md="4"
        lg="3"
      >
      <v-card
          class="h-100 rounded-xl"
          variant="outlined"
        >
          <v-img
            src="/images/states/25.svg"
            min-width="300"
            aspect-ratio="1"
          />
          <v-card-actions>
            <v-spacer />
            <p justify="left">
              welcome
            </p>
            <v-spacer />
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
//
</script>
