<template>
  <v-card
    class="cover-img"
    image="/images/cover.png"
    height="50vh"
    cover
    flat
    rounded="0"
  >
    <v-card-text class="cover-text">
      <h2 class="text-md-h2 text-sm-h3 text-h5">
        Contact
      </h2>
    </v-card-text>
  </v-card>

  <v-container
    fluid
    class="my-6"
  >
    <v-row
      justify="center"
      class="my-3"
    >
      <v-col
        cols="12"
        sm="6"
      >
        <iframe
          class="w-100 rounded-xl"
          style="min-height: 500px; border: 0"
          loading="lazy"
          allowfullscreen
          :src="srcMap"
        />
      </v-col>
      <v-col
        cols="12"
        sm="6"
        md="3"
        class="d-flex justify-center align-center"
      >
        <v-img
          src="/images/mokis/003.png"
          alt="moki greeting"
        />
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col
        cols="10"
        sm="6"
        md="4"
        lg="3"
      >
        <v-card
          class="h-100 rounded-xl"
          variant="tonal"
          title="Request for information 📖"
        >
          <v-img
            src="/images/states/4.svg"
            aspect-ratio="1"
          />

          <v-card-actions class="w-100">
            <MailerModal
              reason="Appointment"
              variant="tonal"
              color="accent"
              size="large"
              prepend-icon="mdi-email"
              class="my-4 mx-auto px-4"
            >
              <template #button-text>
                Email to the CEO
              </template>
            </MailerModal>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col
        cols="10"
        sm="6"
        md="4"
        lg="3"
      >
        <v-card
          class="h-100 rounded-xl"
          variant="tonal"
          title="Keep in touch 🤙"
        >
          <v-img
            src="/images/states/25.svg"
            cover
            aspect-ratio="1"
          />

          <v-card-actions>
            <v-btn
              variant="tonal"
              color="info"
              size="large"
              href="https://fb.me/MokikiGames"
              target="_blank"
              prepend-icon="mdi-facebook-messenger"
              class="my-4 mx-auto px-4"
            >
              Messenger Contact
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col
        cols="10"
        sm="6"
        md="4"
        lg="3"
      >
        <v-card
          class="h-100 rounded-xl"
          variant="tonal"
          title="Book a meeting 🤝"
        >
          <v-img
            src="/images/states/18.svg"
            aspect-ratio="1"
          />

          <v-card-actions>
            <v-btn
              variant="tonal"
              color="warning"
              size="large"
              href="https://www.google.com/maps?ll=19.047387,-98.208776&z=21&t=m&hl=en&gl=MX&mapclient=embed&cid=13797294907792230072"
              target="_blank"
              prepend-icon="mdi-map-marker"
              class="my-4 mx-auto px-4"
            >
              Maps Location
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import MailerModal from "@/components/MailerModal.vue";
import { computed } from "vue";

const parseUrl = computed(() => {
  const email = "ceo@mokikigames.com";
  const query = new URLSearchParams({
    email,
    subject: "Hello! I am ...",
    body: "I would like to know more about Mokiki Games, for example...",
  });

  return `emailto:${email}?${query.toString()}`;
});

const srcMap = computed(() => {
  return "https://www.google.com/maps/embed?"
    + "pb=!1m18!1m12!1m3!1d235.71080175718063!"
    + "2d-98.20879815836973!3d19.047338683289727!"
    + "2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!"
    + "1s0x85cfc135d8f52137%3A0xbf79d69e104306b8!"
    + "2sMokiki%20Animation%20Studio!5e0!3m2!1sen!2smx!4v1615884625963!5m2!1sen!2smx";
});
</script>
<style lang="scss" scoped>
.cover-img {
  background-position: top;
}

.cover-text {
  height: 100%;
  width: 100%;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

:deep(.v-card__image .v-responsive.v-img .v-responsive__sizer) {
  background-color: rgba(var(--v-theme-background), var(--v-medium-emphasis-opacity));
  backdrop-filter: blur(5px);
}
</style>