<template>
  <v-container class="my-8">
    <v-row>
      <h1 class="text-h1 text-md-justify text-center my-3">
        Events
      </h1>
    </v-row>

    <v-row class="justify-center my-10">
      <v-col
        cols="12"
        lg="6"
      >
      <!-- <img src="images/cover.png" alt="cover" class="rounded-xl"/> -->

      <p class="text-h2 mb-4">
        Feeling lucky?
      </p>
      <p>
        Look for an appointment, book a meeting or see our future events.
      </p>
      <v-text-field
        v-model="search"
        label="Type a date or keyword"
        placeholder="Type a date or keyword"
        prepend-inner-icon="mdi-magnify"
        variant="outlined"
        class="my-3"
        clear-icon="mdi-close-circle"
        clearable
      />
    </v-col>

    <v-col
    cols="12"
    lg="6"
    class="d-flex justify-center align-center"
      >
        <v-img
          src="/images/mokis/003.png"
          alt="Welcome Moki"
          aspect-ratio="1"
          max-width="400"
          class="rounded-xl"
        />
      </v-col>
    </v-row>
    <v-row class="justify-center my-10">
      <img
        src="images/states/20.svg"
        class="mx-auto"
        width="600"
        height="600"
      />
      <p class="text-h2 mb-4">
        Whoops! Looks There's nothing yet
      </p>
    </v-row>
  </v-container>
</template>

<script setup>
//
</script>
