<template>
  <v-container
    fluid
    class="my-6"
  >
    <v-row justify="center">
      <v-col
        cols="10"
        md="8"
        lg="6"
      >
        <v-card class="px-2">
          <v-card-title class="mb-6">
            <h3 class="text-h3">
              Privacy Terms
            </h3>
          </v-card-title>
          <v-card-text>
            <p class="text-body-1">
              Mokiki Games is a digital art design studio, respectful of the
              use, storage and handling of the personal data of its clients,
              collaborators, beneficiaries and other Personal Data Holders with
              whom it establishes a legal relationship; Therefore, in accordance
              with the provisions of the Federal Law on Protection of Personal
              Data Held by Private Parties (hereinafter, the LAW), it publishes
              the following guidelines of its privacy notice.
            </p>

            <v-divider class="my-4 mx-auto" />

            <h2 class="text-headline my-3">
              About the adress, responsible and in charge of the treatment of
              your personal data.
            </h2>

            <p>
              Mokiki Games establishes as domicile the property located in
              <b>
                Av 5 Pte 1303A, Barrio de San Sebastián, 72090 Puebla, Puebla.
              </b>
            </p>

            <p>
              As responsible, the study itself, Mokiki Games, is pointed
              out. As manager points to <b>C. Adriana Montserrat Cid Flores</b>,
              who declares the same address of the Responsible, referring email
              to contact the following <b>adriana@mokikigames.com</b>.
            </p>

            <p>
              The Responsible Party and the Manager undertake to respect the
              principles contained in the LAW regarding the use of information,
              namely: legality, consent, information, quality, purpose, loyalty,
              proportionality and responsibility.
            </p>

            <v-divider class="my-4 mx-auto" />

            <h2 class="text-headline my-3">
              About the personal data that we may request.
            </h2>

            <p>
              The person who allows us to obtain and use your personal data is
              called the owner. Among the personal data that we may request are:
            </p>

            <ul class="my-3 mx-4">
              <li>Full name.</li>
              <li>Age.</li>
              <li>Sex.</li>
              <li>Place of birth.</li>
              <li>Civil status.</li>
              <li>Level of study.</li>
              <li>Organization.</li>
              <li>Job.</li>
              <li>Address.</li>
              <li>Curriculum vitae.</li>
              <li>Personal phone.</li>
              <li>Email.</li>
              <li>Social media.</li>
              <li>Information related to services.</li>
            </ul>

            <p>
              In this sense, the Holder agrees that he has not provided and in
              no case will he provide the Responsible with personal data of the
              so-called sensitive, that is, those intimate personal data or
              whose due or improper use may give rise to discrimination or
              entail a risk serious for this one. In particular, the Owner
              undertakes not to provide the Responsible party with any personal
              data related to racial or ethnic origin, present and future health
              status, genetic information, religious, philosophical and moral
              beliefs, trade union affiliation, political opinions and
              affiliations, sexual preference, as well as any other established
              in national and local legislation.
            </p>

            <p>
              The only exception to the foregoing will be that which occurs
              within the framework of an advice and / or legal action, where the
              Professional Secret derived from a legal relationship prevails, a
              situation that is possible according to article 10 of the LAW. In
              this sense, the Holder is informed that the effects of
              Professional Secrecy are that sensitive information will not be
              disclosed under any circumstances, in accordance with article 16
              of the Federal Constitution of Mexico.
            </p>

            <v-divider class="my-4 mx-auto" />

            <h2 class="text-headline my-3">
              About the mechanisms for obtaining personal data.
            </h2>

            <p>
              The personal data of the owner collected by the person in charge
              can be obtained through virtual means such as our website,
              Facebook account, Twitter, YouTube and other social networks, as
              well as by telephone. They can also be obtained directly through
              the activities we carry out. In general, when data is collected by
              virtual means, it is understood that the acceptance mechanisms are
              tacit, while when they are collected physically it is necessary
              that they be express.
            </p>

            <v-divider class="my-4 mx-auto" />

            <h2 class="text-headline my-3">
              Use and treatment of the personal data we have.
            </h2>

            <p>
              The set of personal data obtained by the Responsible is used
              strictly for:
            </p>

            <ul class="mx-4">
              <li>
                Report on the activities you carry out or in which you
                collaborate with related organizations. In general, these
                activities can be: workshops, conferences, seminars, forums,
                publications, events, campaigns, etc.
              </li>
              <li>Design and execute digital animation service strategies.</li>
              <li>
                Give the possibility of creating a private profile within the
                platform to provide free content services, with early or paid
                access, from now on called freemium.
              </li>
              <li>
                Provide a more personalized and friendly experience within the
                visit to the website and provide suggestions according to the
                interests of the visitor.
              </li>
            </ul>

            <v-divider class="my-4 mx-auto" />

            <h2 class="text-headline my-3">
              About the non-transfer of personal data or it's use for profit.
            </h2>

            <p>
              It is emphasized that in no case will the Responsible or the
              Manager transfer the personal data obtained from the Owner to
              third parties. Likewise, it informs that we will not use personal
              data to obtain any profit.
            </p>

            <v-divider class="my-4 mx-auto" />

            <h2 class="headline my-3">
              About the exercise of the rights of access, rectification,
              cancellation or opposition of personal data (ARCO rigths).
            </h2>

            <p>
              The Holder of the personal data or his duly accredited legal
              representative may request access, rectification, cancellation or
              opposition of the personal data that concern him.
            </p>

            <p>
              The request for access, rectification, cancellation or opposition
              must contain the express request of the right that the Holder
              intends to assert. The same must be sent in writing to the legal
              address of the Responsible or through the email address mentioned
              in this notice. A duly founded and motivated response will be
              given within a maximum period of twenty days, which may be
              extended only once, prior notice to the owner and only when
              strictly necessary due to the circumstances of the case. Once the
              resolution is communicated, it will be done within a maximum
              period of fifteen days, a period that will be extended only once,
              up to the same period.
            </p>

            <p>
              The delivery of personal data will be free, and the holder must
              only cover justified shipping costs or the cost of reproduction in
              copies or other formats. However, if the same person reiterates
              his request in a period of less than twelve months, the costs will
              not be greater than three Units of Measurement and Update.
            </p>

            <v-divider class="my-4 mx-auto" />

            <h2 class="text-headline my-3">
              About the changes to the privacy notice.
            </h2>

            <p>
              In the event that the privacy notice is modified in any of its
              parts, the Responsible Party will duly notify the owner by any of
              the following means: mail sent to their address; message via
              email. The privacy notice will always have the most up-to-date
              version of the Privacy Notice on our website.
            </p>

            <v-divider class="my-4 mx-auto" />

            <p>
              <b>By using our website you agree with our privacy terms.</b>
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
//
</script>
