<template>
  <v-card
    class="cover-img"
    image="/images/cover.png"
    height="25vh"
    cover
    flat
    rounded="0"
  >
    <v-card-text class="cover-text">
      <h2 class="text-md-h3 text-h4">
        Mokiki Games
      </h2>
    </v-card-text>
  </v-card>

  <v-container class="my-8">
    <v-row justify="center">
      <v-col
        cols="12"
        md="10"
      >
        <h2 class="text-h4 text-md-h3 w-100 my-6">
          Demo Reel
        </h2>
        <video
          controls
          preload="auto"
          class="w-100 rounded-xl"
        >
          <source src="/videos/DemoReel.mp4" type="video/mp4" />
          <source src="/videos/DemoReel.webm" type="video/webm" />
        </video>
      </v-col>
    </v-row>
  </v-container>

  <v-container class="my-8">
    <v-row justify="center">
      <v-col
        cols="12"
        md="3"
      >
        <v-img
          src="/images/games/moki-runner.png"
          class="rounded-xl mx-auto"
          max-width="85%"
          aspect-ratio="1"
          cover
        />
      </v-col>
      <v-col
        cols="12"
        md="7"
      >
        <h2 class="text-h4 text-md-h3 w-100 my-6">
          Moki Runner
        </h2>
        <p>
          Moki Runner is our first videogame, this was built using Godot 4 and Toon Boom Harmony 21 for the bear animation.
          The main concept is, our pet is running around the streets of Puebla City for collecting chips, sodas and coins!
          <br />
          You can get this game following the next link, or going to an official store for iOS and/or Android.
          <v-btn
            prepend-icon="si:siItchio"
            variant="tonal"
            size="small"
            color="accent"
            href="https://mokikigames.itch.io/moki-runner"
            target="_blank"
          >
            Moki Runner @ Itch.io.
          </v-btn>
        </p>

        <v-row
          justify="center"
          class="my-8"
        >
          <v-col
            cols="12"
            sm="6"
            md="4"
            lg="3"
            class="my-auto h-100"
          >
            <a
              href="https://play.google.com/store/apps/details?id=com.mokikigames.paid.mokirunner"
              target="_blank"
            >
              <v-img
                src="/images/stores/GooglePlay.png"
                width="100%"
                max-height="215"
                class="ma-auto"
              />
            </a>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            md="4"
            lg="3"
            class="my-auto h-100"
          >
            <a
              href="https://apps.apple.com/us/app/moki-runner/id1661601378"
              target="_blank"
            >
              <v-img
                src="/images/stores/AppStore.png"
                width="100%"
                max-height="215"
                class="ma-auto"
              />
            </a>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>

  <v-container class="my-8">
    <v-row justify="center">
      <v-col
        cols="12"
        md="3"
      >
        <v-img
          src="/images/games/moki-kart.png"
          class="rounded-xl mx-auto"
          max-width="85%"
          aspect-ratio="1"
          cover
        />
      </v-col>
      <v-col
        cols="12"
        md="7"
      >
        <h2 class="text-h4 text-md-h3 w-100 my-6">
          Moki Kart
        </h2>
        <p>
          Moki Kart is our second videogame, this was built from zero with Unity Engine. Here we changed from 2D to 3D and used a Camera in 3rd Person POV.
          this game has 5 playable characters and 4 maps for running against the A.I. the player has de ability to change the quality of the game.
          <br />
          You can get this game following the next link, or going to an official store for iOS and/or Android.
          <v-btn
            prepend-icon="si:siItchio"
            variant="tonal"
            size="small"
            color="accent"
            href="https://mokikigames.itch.io/moki-kart"
            target="_blank"
          >
            Moki Kart @ Itch.io.
          </v-btn>
        </p>

        <v-row
          justify="center"
          class="my-8"
        >
          <v-col
            cols="12"
            sm="6"
            md="4"
            lg="3"
            class="my-auto h-100"
          >
            <a
              href="https://play.google.com/store/apps/details?id=com.mokikigames.MokiKart"
              target="_blank"
            >
              <v-img
                src="/images/stores/GooglePlay.png"
                width="100%"
                max-height="215"
                class="ma-auto"
              />
            </a>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            md="4"
            lg="3"
            class="my-auto h-100"
          >
            <a
              href="https://apps.apple.com/us/app/moki-kart/id6449380746"
              target="_blank"
            >
              <v-img
                src="/images/stores/AppStore.png"
                width="100%"
                max-height="215"
                class="ma-auto"
              />
            </a>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>

  <v-container class="my-8">
    <v-row justify="center">
      <v-col
        cols="12"
        md="3"
      >
        <v-img
          src="/images/games/liminal.png"
          class="rounded-xl mx-auto"
          max-width="85%"
          aspect-ratio="1"
          cover
        />
      </v-col>
      <v-col
        cols="12"
        md="7"
      >
        <h2 class="text-h4 text-md-h3 w-100 my-6">
          Liminal Rooms <v-chip color="accent">WIP</v-chip>
        </h2>
        <p>
          This is our third game and is still in progress. It's being built using Unreal Engin 5, Blender and Autodesk Maya for 3D models. So far we can just provide some screenshot from the DEMO which will be launched on september.
        </p>
      </v-col>

      <v-col
        cols="12"
        md="10"
      >
        <h3 class="text-h5 text-md-h4 my-6 text-center w-100">
          Sneak Peek
        </h3>
        <v-divider class="my-6 w-50 mx-auto" />
        <VuePictureSwipe
          :items="items"
          :options="{ shareEl: false }"
        />
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import VuePictureSwipe from "vue3-picture-swipe";
import { ref } from "vue";

const items = ref([
  {
    src: "/images/galleries/liminal/image.2.png",
    thumbnail: "/images/galleries/liminal/image.2.thumbnail.png",
    w: 1332,
    h: 760,
    // title: "Will be used for caption",
  },
  {
    src: "/images/galleries/liminal/image.3.png",
    thumbnail: "/images/galleries/liminal/image.3.thumbnail.png",
    w: 1920,
    h: 1080,
    // title: "Will be used for caption",
  },
  {
    src: "/images/galleries/liminal/image.4.png",
    thumbnail: "/images/galleries/liminal/image.4.thumbnail.png",
    w: 1920,
    h: 1080,
    // title: "Will be used for caption",
  },
  {
    src: "/images/galleries/liminal/image.1.png",
    thumbnail: "/images/galleries/liminal/image.1.thumbnail.png",
    w: 1106,
    h: 750,
    // title: "Will be used for caption",
  },
]);
</script>
<style lang="scss" scoped>
.cover-img {
  background-position: top;
}

.cover-text {
  height: 100%;
  width: 100%;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

:deep(.v-card__image .v-responsive.v-img .v-responsive__sizer) {
  background-color: rgba(var(--v-theme-background), var(--v-medium-emphasis-opacity));
  backdrop-filter: blur(5px);
}

:deep() .my-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
</style>