<template>
  <div class="squiggle" />

  <v-container>
    <v-row
      justify="center"
      justify-md="start"
    >
      <v-col
        cols="12"
        sm="6"
        md="6"
      >
        <h4 class="text-h4 mb-2">
          About us
        </h4>
        <p style="max-width: 400px">
          <!-- eslint-disable-next-line -->
          Mokiki Games is a Mexican video game development studio based in Puebla City. We create captivating gaming experiences across many platforms, combining innovation and a dedicated team of developers, designers, and artists.
        </p>
        <v-divider class="my-4" />
        <p>
          Questions or concerns? Please send us an email to:&nbsp;
          <!-- @TODO: Create a modal for emails. -->
          <a class="font-weight-bold" href="mailto:hello@mokikigames.com">hello@mokikigames.com</a>.
        </p>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        md="4"
      >
        <h4 class="text-h4 mb-2">
          Feed
        </h4>
        <v-list
          nav
          color="primary"
        >
          <v-list-item
            v-for="(link, i) in links"
            :key="i"
            :href="link.href"
            target="_blank"
            :prepend-icon="link.icon"
            :title="link.title"
          />
        </v-list>
      </v-col>
    </v-row>

    <v-row
      justify="center"
      class="my-6"
    >
      <v-col
        cols="12"
        md="10"
      >
        All rights reserved to Mokiki Games&trade; a company of Big Bear Animation Company S.A de C.V &copy;
      </v-col>

      <v-col
        cols="12"
        md="10"
      >
        <v-btn
          variant="tonal"
          color="primary"
          :to="{ name: 'welcome.privacy' }"
          class="mr-2"
          size="small"
        >
          Privacy Policy
        </v-btn>
        <v-btn
          variant="tonal"
          color="primary"
          :to="{ name: 'welcome.privacy' }"
          class="mr-2"
          size="small"
        >
          Terms of service
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref } from "vue";

const links = ref([
  {
    title: "Facebook",
    href: "https://www.facebook.com/MokikiGames/",
    icon: "mdi-facebook",
  },
  {
    title: "Instagram",
    href: "https://www.instagram.com/mokiki_games/",
    icon: "mdi-instagram",
  },
  {
    title: "Twitter",
    href: "https://twitter.com/mokikigames",
    icon: "mdi-twitter",
  },
  {
    title: "TikTok",
    href: "https://www.tiktok.com/@mokikigames",
    icon: "si:siTiktok",
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/company/mokiki-games",
    icon: "si:siLinkedin",
  },
]);

const parseUrl = computed(() => {
  const email = "ceo@mokikigames.com";
  const query = new URLSearchParams({
    email,
    subject: "Hello! I am ...",
    body: "I would like to know more about Mokiki Games, for example...",
  });

  return `emailto:${email}?${query.toString()}`;
});
</script>

<style scoped lang="scss">
.squiggle {
  background-image: url("/images/squiggle.svg");
  background-repeat: repeat-x;
  background-position: center center;
  margin: 1em 0;
  width: 100%;
  height: 8px;
  padding: 0;
}

.feed {
  list-style: none inside;
}
</style>
