<template>
  <v-dialog
    v-model:model-value="modalOpen"
    persistent
  >
    <template #activator="{ props: dialogProps }">
      <v-btn
        :variant="props.variant"
        :color="props.color"
        :class="props.class"
        :prepend-icon="props.prependIcon"
        :size="props.size"
        v-bind="dialogProps"
      >
        <slot name="button-text" />
      </v-btn>
    </template>

    <VeeForm
      :title="`✉️ Reason: ${props.reason}`"
      as="v-card"
      max-width="1024"
      class="mx-auto"
      v-slot="{ meta: { valid } }"
    >
      <v-card-text>
        <VeeField
          v-model="custom.from"
          v-slot="{ field, errors }"
          name="email"
          rules="required|email"
        >
          <v-text-field
            v-bind="field"
            class="my-2"
            variant="outlined"
            label="Your email"
            placeholder="Type your email"
            prepend-inner-icon="mdi-email"
            name="email"
            :error-messages="errors"
          />
        </VeeField>

        <VeeField
          v-model="custom.message"
          v-slot="{ field, errors }"
          name="message"
          rules="required|min:20|max:150"
        >
          <v-textarea
            v-bind="field"
            class="my-2"
            variant="outlined"
            label="Message"
            counter
            placeholder="Type your message"
            prepend-inner-icon="mdi-fountain-pen-tip"
            name="message"
            :error-messages="errors"
          />
        </VeeField>
      </v-card-text>

      <v-card-actions>
        <v-btn
          color="error"
          prepend-icon="mdi-close-circle"
          class="mx-2"
          @click="cancel"
        >
          Cancel
        </v-btn>

        <v-spacer />

        <v-btn
          color="primary"
          prepend-icon="mdi-send"
          class="mx-2"
          :disabled="!valid"
          @click="submit"
        >
          Send email
        </v-btn>
      </v-card-actions>
    </VeeForm>
  </v-dialog>
</template>
<script setup>
import { reactive, ref } from "vue";
import { useReCaptcha } from "vue-recaptcha-v3";
import { useStore } from "vuex";

const props = defineProps({
  reason: {
    type: String,
    required: true,
    validator(value) {
      return [
        "Appointment",
        "Budget",
        "Internship",
        "Job",
      ].includes(value);
    },
  },
  color: String,
  variant: String,
  email: String,
  prependIcon: String,
  size: String,
  class: String,
});

const modalOpen  = ref(false);

const custom = reactive({
  from: null,
  message: null,
});

const { dispatch } = useStore();
const { executeRecaptcha, recaptchaLoaded } = useReCaptcha();

function cancel() {
  custom.from = null;
  custom.message = null;

  modalOpen.value = false;
}

async function submit() {
  await recaptchaLoaded();

  const to = {
    "Budget": "ceo@mokikigames.com",
    "Internship": "internship@mokikigames.com",
    "Job": "hello@mokikigames.com",
    "Appointment": "ceo@mokikigames.com",
  }

  const data = {
    subject: props.reason,
    to: to[props.reason],
    ...custom,
    ["g-recaptcha-response"]: null,
  };

  const token = await executeRecaptcha("email");
  data["g-recaptcha-response"] = token;

  await dispatch("sendEmail", data);
  cancel();
}
</script>
