<template>
  <v-app-bar>
    <template v-if="mobile">
      <!-- <v-app-bar-nav-icon>
        <v-avatar
          image="/images/favicon.png"
          width="25"
        />
      </v-app-bar-nav-icon> -->

      <span class="mx-2">
        Mokiki Games
      </span>

      <v-menu>
        <template #activator="{ props }">
          <v-btn
            icon="mdi-menu"
            v-bind="props"
          />
        </template>
        <v-list color="secondary">
          <v-list-item
            v-for="({ meta: { title, icon, avatar }, name }) in main"
            :key="name"
            :to="{ name }"
            :title="title"
            :prepend-icon="icon"
            :prepend-avatar="avatar"
          />
        </v-list>
      </v-menu>
    </template>

    <template v-else>
      <div>
        <v-btn
          v-for="({ meta: { title, icon }, name }) in leading"
          :key="name"
          :to="{ name }"
          color="primary"
          class="mx-2"
          exact
          :prepend-icon="icon"
        >
          {{ title }}
        </v-btn>
      </div>

      <div>
        <v-btn
          v-for="({ meta: { avatar, icon, title }, name }) in trailing"
          :key="name"
          :to="{ name }"
          color="primary"
          class="mx-2"
          exact
        >
          <v-icon
            v-if="!!icon"
            :icon="icon"
            class="mr-2"
          />

          <v-avatar
            v-if="!!avatar"
            :image="avatar"
            size="small"
            class="mr-2"
          />

          {{ title }}
        </v-btn>
      </div>
    </template>
  </v-app-bar>
</template>

<script setup>
import { leading, main, trailing } from "@/router/routes";
import { useDisplay } from "vuetify";

const { mobile } = useDisplay();
</script>

<style lang="scss" scoped>
:deep(.v-toolbar__content) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}
</style>
