<template>
  <svg
    ref="root"
    xmlns="http://www.w3.org/2000/svg"
    role="img"
    viewBox="0 0 24 24"
    :style="style"
  >
    <path :d="simpleIcon" />
  </svg>
</template>

<script setup>
import { computed, ref } from "vue";
import icons from "@/helpers/icons";

const root = ref(null);

const props = defineProps({
  icon: { type: String, required: true },
});

const simpleIcon = computed(() => icons[props.icon]?.path);
const style = computed(() => {
  if (!root.value) return { fill: "#000" };

  const fill = window.getComputedStyle(root.value.parentElement)?.color;
  return { fill };
});
</script>
